{#	This template unfies all other templates to generate a full configuration:
		- system configuration
		- igp configuration
		- mpls configuration
		- bgp configuration
		- service configuration
		
!! igp variable will be included into .yaml variable file
#}

{% include 'system_template_config.j2' %}

{% if igp == 'isis' %} {% include 'isis_template_config.j2' ignore missing %}
{% elif igp == 'ospf' %} {% include 'ospf_template_config.j2' ignore missing %} {% endif %}

{% include 'mpls_template_config.j2' %}

{% include 'bgp_template_config.j2' %}

{% include 'service_template_config.j2' %}